.blog-single {
  display: flex;
  column-gap: 123px;
}
.blog-single-left {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media only screen and (max-width: 900px){
  .blog-single{
    flex-direction: column;
  }
  .img > img{
    width: 100%;
    height: auto;
  }
}